NEXT_PUBLIC_API_BASE_URL=https://recharge-api.wigope.com/api/v1
NEXT_PUBLIC_APP_URL=https://recharge.wigope.com
NEXT_PUBLIC_HUBBLE_SDK_BASE_URL=https://sdk.dev.myhubble.money/
NEXT_PUBLIC_HUBBLE_CLIENT_ID=
NEXT_PUBLIC_HUBBLE_APP_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
